<footer class="footer mt-5 py-4 custom-footer" id="footer">
    <div class="container">
        <div class="row">

            <!--columna1 -->
            <div class="col-md-4 mb-4 mb-md-0">
                <h4 class="footer-brand"><span>PokeRadar</span></h4>
            </div>

            <!--columna2-->
            <div class="col-md-4 mb-4 mb-md-0">
                <h5 class="footer-title">GENERAL</h5>
                <ul class="info">
                    <li><a href="/index.html">Inicio</a></li>
                    <li><a href="/favorites.html">Favoritos</a></li>
                    <li><a href="/minijuego.html">Mini Juego</a></li>
                </ul>
            </div>

            <!--columna3-->
            <div class="col-md-4">
                <h5 class="footer-title">Redes</h5>
                <div class="redes-sociales mt-2">
                    <a href="https://github.com/Liw1030" class="red-social"><i class="bi bi-github"></i></a>
                    <a href="https://www.linkedin.com/in/johana-usaquen/" class="red-social"><i
                            class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>

        <!--linea debajo  -->
        <hr class="footer-line my-4">

        <p class="footer-copy text-center">TODOS LOS DERECHOS RESERVADOS 2025 / PokeRadar CORP.</p>
    </div>
</footer>