<nav class="navbar navbar-expand-lg" id="nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" id="PokeRadar">Poke<span>Radar</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index.html" id="liNavbar">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-disabled="true" href="/favorites.html" id="liNavbar">Favoritos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-disabled="true" href="/minijuego.html" id="liNavbar">Mini Juego</a>
                </li>
            </ul>
            <form class="d-flex" role="search" id="formBuscar">
                <input class="form-control me-2" type="search" placeholder="Buscar Pokémon..." aria-label="Search" id="searchBox" />
            </form>
        </div>
    </div>
</nav>